<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="fb:admins" content="10202410694372219" />
    <meta property="fb:app_id" content="1495103744038056"/>

    <title>P-book</title>

    <!-- Bootstrap core CSS -->
   <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="./css/flat-ui.css" rel="stylesheet">
    

    <link rel="stylesheet" href="./css/jquery-ui-1.10.4.custom.css">
 <!-- Custom styles for this template -->
     <link href="./css/coverMain.css" rel="stylesheet">
    <link href="./css/dash.css" rel="stylesheet">

    <link rel="shortcut icon" href="./images/favicon.ico">

<!-- semantic message box -->
    <link rel="stylesheet" href="./message_box/public/packaged/css/semantic.css" />


<!-- ============fancybox=============== -->
<!-- Add fancyBox main JS and CSS files -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51720615-1', 'pbook.tw');
  ga('send', 'pageview');

</script>

  </head>

  <body id="top">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=799528913391208&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- navbar-default -->
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">        
            <img src="./images/title.png" class="imgTitle" alt="gggg">
          </a>
          <div class="navbar-form navbar-left llll" >
            <input type="text" class="form-control" placeholder="Search Ptt id" id="txt_name2">
          </div>

        </div>
        <div class="navbar-collapse collapse">

            <!-- <div class="input-group input-group-sm"> -->
            <!-- </div> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll"><a href="/">Home</a></li>
            <li class="page-scroll"><a href="/#num1">About</a></li>
            <li class="page-scroll"><a href="/#num2">Contact</a></li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>  <!-- container -->
    </div> <!-- navbar -->


<ul class="nav nav-tabs topp cover">
  <li class="active"><a  data-toggle="tab"><span class="glyphicon glyphicon-user "></span>
    <%= id %></a>
  </li>
</ul>

<!-- Tab panes -->
<!-- <div class="tab-content">
  <div class="tab-pane active" id="home">
 -->    
  <div class="container-fluid">


<!-- data -->
<!-- ===================================================================== -->
      <div class="bb">
        
        <div class="row top">

          <div class="col-md-6 borderOnly col-md-offset-1 topp">
            <div class="col-md-3 main  ">
              <span class="glyphicon glyphicon-user s30"></span> 
              <div class="">
                <div class="ffff">
                  <%= id %>
                  <!-- email5566 -->
                </div> <!-- page-header -->
              </div>
            </div>
            <div class="col-md-4 main s20">
              <div class="">
                <div>
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <%= ip %><!-- 140.112.xx -->
                </div>
              </div>
            </div>  <!-- col-md-3 -->
            <div class="col-md-3 main s20">
              <div>
                <span class="glyphicon glyphicon-tag green"></span>發
                <span class="label label-danger left">
                  <%= tp %>
                </span>
              </div>
              <div>
                <span class="glyphicon glyphicon-tag yellow"></span>推
                <span class="label label-danger left">
                  <%= tg %>
                </span>
              </div>
              <div>
                <span class="glyphicon glyphicon-tag red"></span>噓
                <span class="label label-danger left">
                  <%= tb %>
                </span>
              </div>
            </div> <!-- col-md-3 -->
            <div class="col-md-2 main s20">
              <div class="borr ui button" id="open" style="background-color: #34495E; margin-right: -15px">
                <div class="ffff" style="background-color: #34495E;">
                  <span class="glyphicon glyphicon-comment" style="color: white; background-color: #34495E; font-size:1.4em; transform:rotate(45deg);">
                  </span>
                </div> <!-- page-header -->
              </div>
            </div> <!-- col-md-3 -->
          </div> <!-- col-md-6 container of details -->

          <div class="col-md-1 col-md-offset-1 top  main">
          </div>
          <div class="col-md-1 top main">
            <!-- <div class="borr">
              <div class="ffff">
                <ul>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-stats"></span> 
                      // <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">噓推發文數比較</a></li>
                      <li><a href="#">發文時間比較</a></li>
                      <li><a href="#">不同版的活躍程度比較</a></li>
                      <li><a href="#">與羣衆意見相識度比較</a></li>
                      <li class="divider"></li>
                      <li><a href="#">發文得到的推噓比</a></li>
                      <li class="divider"></li>
                      <li><a href="#">個人積分榜</a></li>
                    </ul>
                  </li>
                </ul>
                  
              </div> 
              // page-header
            </div> -->
          </div>

      </div> <!-- row -->


<!-- news part -->
<!-- ================================================= -->
      <div class="row top">
        <div class="col-md-8">
          <div class="col-md-12 col-md-offset-1 ">
            <ul class="nav nav-tabs cover2">
              <li class="active"><a href="#all" data-toggle="tab" class="">
                所有文章                  
                <span class="label label-danger" id="taa">
                        <%= tp+tg+tb %>
                </span>
              </a>
              </li>
              <li class="">
                <a href="#post" data-toggle="tab" class="green">
                  發文               
                  <span class="label label-danger" id="tpp">
                      <%= tp %>
                  </span>
                </a>
              </li>
              <li class=""><a href="#push" data-toggle="tab" class="yellow">
                推文
                <span class="label label-danger" id="tgg">
                  <%= tg %>
                </span>
              </a>
              </li>
              <li class=""><a href="#xu" data-toggle="tab" class="red">
                噓文
                <span class="label label-danger" id="tbb">
                  <%= tb %>
                </span>
              </a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="all">
                <div class="table-responsive top">
                  <table class="table ">
                    <tbody>
                      <% for (var i=0;i<(list.length);i++) {%>
                        <tr>
                          <td> <span class="glyphicon glyphicon-hand-right"></span></td>
                            <td class="fontt">
                              <%= list[i].bbs %> 
                            </td>
                              <% if (list[i].ip!=undefined) { %>
                                
                                <td class="fontt green">發
                                </td>

                              <% } else {%>    
                                <% if (list[i].res[0]>list[i].res[1]) { %>
                                  
                                  <td class="fontt yellow">推
                                  </td>

                                <%  } else if (list[i].res[0]===list[i].res[1]) { %>
                                  
                                  <td class="fontt red">→
                                  </td>

                                <% } else { %>
                                 
                                  <td class="fontt red">噓
                                  </td>

                                 <% } %>
                              <% } %>

                            <td class="">
                                <div class="fonttt text-left">
                                  <a class="various fancybox.iframe" href='<%= list[i].url%>' title='正在搜尋的id：<%= id %>'>
                                  <%= list[i].title %>
                                  </a></div>
                                <div class="grey text-left">
                                  <cite>
                                    <%= list[i].time %>
                                  </cite>
                                </div>
                            </td>
                        </tr>

                      <% } %>
                    </tbody>
                    
                </table>
              </div>  <!-- table -->

              </div>
              <div class="tab-pane" id="post">
                <div class="table-responsive top">
                  <table class="table ">
                    <tbody>
                      <% for (var i=0;i<(list.length);i++) {%>
                        <% if (list[i].ip!=undefined) { %>
                          <tr>
                            <td> <span class="glyphicon glyphicon-hand-right"></span></td>
                              <td class="fontt">
                                <%= list[i].bbs %> 
                              </td>
                                  <td class="fontt green">發
                                  </td>
                              <td class="">
                                  <div class="fonttt text-left">
                                    <a class="various fancybox.iframe" href='<%= list[i].url%>' title='正在搜尋的id：<%= id %>'>
                                    <%= list[i].title %>
                                    </a></div>
                                  <div class="grey text-left">
                                    <cite>
                                      <%= list[i].time %>
                                    </cite>
                                  </div>
                              </td>
                          </tr>
                          <% } %> <!-- if post-->
                      <% } %> <!-- for loop -->
                    </tbody>
                    
                </table>
              </div>  <!-- table -->


              </div>
              <div class="tab-pane" id="push">
                <div class="table-responsive top">
                  <table class="table ">
                    <tbody>
                      <% for (var i=0;i<(list.length);i++) {%>
                        <% if (list[i].ip==undefined) { %>
                          <% if (list[i].res[0]>list[i].res[1]) { %>
                            <tr>
                              <td> <span class="glyphicon glyphicon-hand-right"></span></td>
                              <td class="fontt">
                                  <%= list[i].bbs %> 
                              </td>
                              <td class="fontt yellow"> 推
                              </td>
                              <td class="">
                                <div class="fonttt text-left">
                                  <a class="various fancybox.iframe" href='<%= list[i].url%>' title='正在搜尋的id：<%= id %>'>
                                  <%= list[i].title %>
                                  </a></div>
                                <div class="grey text-left">
                                  <cite>
                                    <%= list[i].time %>
                                  </cite>
                                </div>
                              </td>
                            </tr>
                          <% } %>  <!-- if  -->
                        <% } %>  <!-- if push -->
                      <% } %>  <!-- for loop -->
                    </tbody>
                    
                </table>
              </div>  <!-- table -->


              </div>
              <div class="tab-pane" id="xu">
                <div class="table-responsive top">
                  <table class="table ">
                    <tbody>
                      <% for (var i=0;i<(list.length);i++) {%>
                        <% if (list[i].ip==undefined) { %>
                          <% if (list[i].res[0]<=list[i].res[1]) { %>
                            <tr>
                              <td> <span class="glyphicon glyphicon-hand-right"></span></td>
                              <td class="fontt">
                                <%= list[i].bbs %> 
                              </td>
                            <%  if (list[i].res[0]===list[i].res[1]) { %>
                              <td class="fontt red">
                                →
                              </td>
                              <td class="">
                            <% } else { %>
                              <td class="fontt red">
                                噓
                              </td>
                              <td class="">
                            <% } %>
                              <div class="fonttt text-left">
                                <a class="various fancybox.iframe" href='<%= list[i].url%>' title='正在搜尋的id：<%= id %>'>
                                  <%= list[i].title %>
                                </a>
                              </div>
                              <div class="grey text-left">
                                <cite>
                                  <%= list[i].time %>
                                </cite>
                              </div>
                              </td>
                            </tr>
                          <% } %>
                        <% } %> <!-- if -->
                      <% } %> <!-- for -->
                    </tbody>
                    
                </table>
              </div>  <!-- table -->


              </div>
            </div> <!-- tab-content -->

            </div> <!-- col-md-12 table data container -->
        </div> <!-- col-md-8 table container-->
        <div class="col-md-3" >
          <div id="highC" style="min-width: 310px; height: 300px; max-width: 300px; margin: 0 auto">
        </div>
        <div class="col-md-1" ></div>
<!--             <div id="highCT" style="min-width: 200px; height: 150px;max-width: 400px; margin: 0 auto"></div>
 -->          
          </div>
        </div> <!-- row -->
      </div>  <!-- bb background -->
    </div> <!-- container-fluid -->
  <!-- </div> --> <!-- home -->

<!--   <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
 -->

<!-- </div> --> <!-- tab-content -->
  <div class="ui right sidebar" style="
  color: white;
  background: rgba(255,255,255,0.8);">
    <div style="width:100%; height:100%; padding:0px;">
        <!--
        <div class="field">
          <label>User Input</label>
          <input type="text" class="enterm">
        </div>
        -->
        <div class="fb-comments" data-href="http://pbook.tw/" data-width="275" data-numposts="5" data-colorscheme="light" style="margin-top:45px"></div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Add jQuery library -->
      <script src="./js/jquery-1.8.3.min.js"></script>
    <script src="./js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="./js/jquery.ui.touch-punch.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-select.js"></script>
    <script src="./js/bootstrap-switch.js"></script>
    <script src="./js/flatui-checkbox.js"></script>
    <script src="./js/flatui-radio.js"></script>
    <script src="./js/jquery.tagsinput.js"></script>
    <script src="./js/jquery.placeholder.js"></script>
    <script src="./js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="./js/application.js"></script>

 <!-- =====my js==== -->
  <script type="text/javascript" src="./js/index.js"></script>


<!-- high chart -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
 <script type="text/javascript" src="./js/dark-unica.js"></script>

  <!-- semantic js -->
   <script type="text/javascript" src="message_box/public/packaged/javascript/semantic.js"></script>
   <script type="text/javascript" src="message_box/public/javascripts/index.js"></script>


<!-- fancy box============================================== -->

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="./fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="./fancybox/source/jquery.fancybox.js?v=2.1.5"></script>

  <!-- Add Button helper (this is optional) -->
  <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="./fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  </body>
</html>
    
