<%- partial('header.ejs') %>


<ul class="nav nav-tabs topp cover">
  <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-user "></span>
    <%= name %><!-- email5566 --></a>
  </li>
  <li><a href="#profile" data-toggle="tab">people1</a></li>
  <li><a href="#messages" data-toggle="tab">people2</a></li>
</ul>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="arrow-up"></div>
    <div class="container-fluid">


<!-- data -->
<!-- ===================================================================== -->
      <div class="bb">
        
        <div class="row top">

          <div class="col-md-6 borderOnly col-md-offset-1 topp">
            <div class="col-md-3 main  ">
              <span class="glyphicon glyphicon-user s30"></span> 
              <div class="">
                <div class="ffff">
                  <%= name %>
                  <!-- email5566 -->
                </div> <!-- page-header -->
              </div>
            </div>
            <div class="col-md-3 main s20">
              <div class="">
              <div>
                <span class="glyphicon glyphicon-map-marker"></span><%= ip1 %><!-- 140.112.xx -->
              </div>
              <div>
                <span class="glyphicon glyphicon-map-marker"></span><%= ip2 %><!-- 140.112.xx -->
              </div>
              <div>
                <span class="glyphicon glyphicon-map-marker"></span><%= ip3 %><!-- 140.112.xx -->
              </div>
              </div>
            </div>  <!-- col-md-3 -->
            <div class="col-md-3 main s20">
              <div>
                <span class="glyphicon glyphicon-tag yellow"></span>發
                <span class="label label-danger left">
                  <%= postNum %><!-- 41 -->
                </span>
              </div>
              <div>
                <span class="glyphicon glyphicon-tag yellow"></span>推
                <span class="label label-danger left">
                  <%= pushNum %><!-- 19 -->
                </span>
              </div>
              <div>
                <span class="glyphicon glyphicon-tag red"></span>噓
                <span class="label label-danger left">
                  <%= xuNum %><!-- 50 -->
                </span>
              </div>
            </div> <!-- col-md-3 -->
            <div class="col-md-3 main s20">
              <div>
                人氣
                <span class="label label-danger left">
                  <%= fansNum %><!-- 41 -->
                </span>
              </div>
            </div> <!-- col-md-3 -->
          </div> <!-- col-md-6 container of details -->

          <div class="col-md-1 col-md-offset-1 top  main">
            <div class="borr">
              <div class="ffff">
                <span class="glyphicon glyphicon-comment"></span>
              </div> <!-- page-header -->
            </div>
          </div>
          <div class="col-md-1 top main">
            <div class="borr">
              <div class="ffff">
                <span class="glyphicon glyphicon-stats"></span>
              </div> <!-- page-header -->
            </div>
          </div>

      </div> <!-- row -->


<!-- news part -->
<!-- ================================================= -->
      <div class="row top">
        <div class="col-md-8 ">
          <div class="col-md-8 col-md-offset-1 ">
            <div class="table-responsive top">
                <table class="table ">
                    <tbody>

                      <% for (var i=0;i<(POST.length);i++) {%>

                        <tr>
                          <td> <span class="glyphicon glyphicon-hand-right"></span></td>
                            <td class="fontt">
                              <%= POST[i].bbs %> 
                            </td>
                              <% if (POST[i].ip==undefined) { %>
                                <td class="fontt yellow">發
                                </td>
                              <% } else {%>    
                                <% if (POST[i].res[0]==1) { %>
                                  <td class="fontt yellow">推
                                  </td>
                                <% } else if (POST[i].res[1]==1) { %>
                                  <td class="fontt red">噓
                                  </td>
                                <%  } else if (POST[i].res[2]==1) { %>
                                  <td class="fontt red">→
                                  </td>
                                <% } %>
                              <% } %>
                            <td class="">
                                <div class="fonttt text-left">
                                  <a class="various fancybox.iframe" href="
                                  <%= POST[i].url %>
                                  ">
                                  <%= POST[i].title %>
                                  </a></div>
                                <div class="grey text-left">
                                  <cite>
                                    <%= POST[i].time %>
                                  </cite>
                                </div>
                            </td>
                        </tr>

                      <% } %>
                    </tbody>
                    
                </table>
              </div>  <!-- table -->
            </div> <!-- col-md-12 table data container -->
          </div> <!-- col-md-8 table container-->
        </div> <!-- row -->
      </div>  <!-- bb background -->
    </div> <!-- container-fluid -->
  </div> <!-- home -->

  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>


<%- partial('footer.ejs') %>
    
